body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

header {
  background: url('img/ip16.jpg') no-repeat center center/cover;  /* Thêm ip16.jpg làm hình nền */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #343a40;
  color: white;
}
